<!-- list -->
<ul class="nav">
    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span>Organization</span>
    </li>
    <!--  <li ui-sref-active="active">
    <a ui-sref="app.dashboard">
      <i class="glyphicon glyphicon-stats icon text-info-dker"></i>
      <span class="font-bold">Dashboard</span>
    </a>
  </li> -->
    <li ui-sref-active="active">
        <a ui-sref="app.practiceslist">
            <i class="fa fa-building icon text-info-dker"></i>
            <span class="font-bold">Practices</span>
        </a>
    </li>
    <!-- <li ui-sref-active="active">
    <a ui-sref="app.detail">
      <i class="glyphicon glyphicon-user icon text-info-dker"></i>
      <span class="font-bold">Users</span>
    </a>
  </li> -->

    <li class="line dk"></li>

    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span>Compliance Reports</span>
    </li>

    <!-- <li>
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i>
        <img src='/images/icons/emergprep.svg' class='ot-icon'/>
      </i>
      <span class="font-bold">Meds & Devices</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>
          <span>Meds & Devices</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a>
          <span>Medications</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a>
          <span>Devices</span>
        </a>
      </li>
    </ul>
  </li> -->

    <li ui-sref-active="active">
        <a ui-sref="app.corporate_meds">
            <i class="fa fa-medkit text-danger icon text-md"></i>
            <span class="font-bold">Medications</span>
        </a>
    </li>

    <li>
        <a href class="auto">
            <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
            <i>
        <img src='images/icons/globe.svg' class='ot-icon'/>
      </i>
            <span class="font-bold">Environmental</span>
        </a>
        <ul class="nav nav-sub dk ">
            <li class="nav-sub-header">
                <a href>
                    <span>Environmental</span>
                </a>
            </li>
            <!-- <li ui-sref-active="active">
        <a>
          <span>Unused Medications Recovery</span>
        </a>
      </li> -->
            <li ui-sref-active="active">
                <a ui-sref="app.corporate_sharps">
                    <span>Medical Waste</span>
                </a>
            </li>
            <!-- <li ui-sref-active="active">
        <a>
          <span>Amalgam Recovery</span>
        </a>
      </li> -->
        </ul>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.corporate_bio">
            <i>
        <img src='images/icons/infectioncontrol.svg' class='ot-icon'/>
      </i>
            <span class="font-bold">Biological</span>
        </a>
    </li>

    <!--   <li class="line dk"></li>

  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span>Documents</span>
  </li>

  <li ui-sref-active="active">
    <a >
      <i class="glyphicon glyphicon-stats icon text-info-dker"></i>
      <i class="glyphicon glyphicon-calendar icon text-info-dker"></i>
      <span class="font-bold">SDS</span>
    </a>
  </li>

  <li ui-sref-active="active">
    <a>
      <i class="glyphicon glyphicon-question-sign icon text-info-dker"></i>
      <span class="font-bold">Helps</span>
    </a>
  </li> -->
</ul>
<!-- / list-->
