<style>
.kititems_collapse {
    max-height: 177px;
    overflow: hidden;
}
</style>
<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
app.settings.asideFolded = false; 
app.settings.asideDock = false;
">
    <!-- main -->
    <div class="wrapper-md" ng-controller="medicationsCrtl">
        <!-- when there is no kit in refill -->

        <!-- when there is no data -->
        <div class="wrapper-md row" ng-if='message'>There is no information to display.</div>
        <!-- / when there is no kit in refill-->
        <!-- loader -->
        <div ng-show="!loaded" class='text-center'>
            <div style='margin-top: 100px; font-size: 12px; font-weight: bold'>LOADING</div>
            <br> <i class="fa fa-spinner text-lg"></i>
            <br>
        </div>
        <!-- /loader -->

        <!-- Medication page -->
        <div ng-show="loaded" class="col-md-12">
            <div class="row row-sm text-center" ng-if="num_otrs > 0">
                <div class=" col-md-6 col-sm-6 col-lg-3" ng-if="medications.compliance['kit_compliance_status'] !=4">
                    <div class="panel padder-v item bg-{{status(medications.compliance['kit_compliance_status'])}}">
                        <div class="h1 text-white font-thin h1">
                            <i ng-if="((medications.compliance['kit_compliance_status'] ==3) || (medications.compliance['kit_compliance_status'] ==2) )" class=" fa fa-exclamation-triangle text-xl"></i>
                            <i ng-if="medications.compliance['kit_compliance_status'] ==1" class=" icon-check icon text-xl"></i>
                        </div>
                        <small class="block text-sm" translate="compliance.{{medications.compliance['kit_compliance_message']}}"></small>
                        <!-- span class="text-white text-xs" nf-if="num_otrs == 1">Kit is in OnTraQ
							Refill System</span> -->
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-lg-3">
                    <div class="panel padder-v item bg-info">
                        <div class="h1 text-white font-thin h1">{{num_otrs}}</div>
                        <span class="text-muted text-xs">Emergency
							Medical Kit/s</span>
                    </div>
                </div>
                <!-- <div class="col-md-6 col-sm-6 col-lg-3" ng-if="medications.compliance['kit_meds_num_item_expired'] > 0 ">
					<div class="panel padder-v bg-light dker item">
						<span class="text-muted text-xs">{{medications.compliance['kit_meds_num_item_expired']}} expired</span> 
					</div>
				</div> -->
                <!-- <div ng-if="kititem.onKMCA ==true &&  kititem.onhold == 0"class=" col-md-6 col-sm-6 col-lg-3 ">
					<div class="panel padder-v item bg-danger">
						<div class="h1 text-white font-thin h1">{{medications.count.expired}}</div>
						<span  ng-if="medications.count.expired > 1 "class="text-muted text-xs">Expired Medications</span>
						<span ng-if="medications.count.expired ==1 "class="text-muted text-xs">Expired Medication</span> 
					</div>
				</div>
				<div ng-if="kititem.onKMCA ==true &&  kititem.onhold == 0" class=" col-md-6 col-sm-6 col-lg-3 ">
					<div class="panel padder-v item bg-warning" style="color:black;">
						<div class="h1 text-black font-thin h1">{{medications.count.expiring}}</div>
						<span ng-if="medications.count.expiring > 1 "class="text-black text-xs">Expiring Medications</span>
						<span ng-if="medications.count.expiring == 1"class="text-black text-xs">Expiring Medication</span>
					</div>
				</div> -->
                <!-- 	<div class="col-xs-12 col-sm-6 col-lg-2 pull-right" >
				  <select ng-change='changeCategory(category.id)' ng-model="category" ng-options="cat.name for cat in categories"></select><br>
	             </div>	   	         						
			</div> -->
            </div>

            <!-- /Top tiles -->
            <!-- filter the kits -->
            <div ng-if="(!message)">
                <div class="col-xs-12 col-sm-6 col-lg-2 clearfix " style='padding-left: 0px;'>
                    <select ng-change='changeCategory(category.id)' ng-model="category" ng-options="cat.name for cat in categories"></select>
                    <br>
                </div>
                <!-- /filter the kits -->
                <!--  list the kits -->
                <div class="clearfix"></div>
                <br>
                <div ng-if="!in_active">
                    <div ng-if=" medications.kitotrs != true && num_otrs ==0">No kit or medication currently active.</div>{{medications.medications.on_otrs}}
                    <div ng-if="medications.kitotrs != true && num_otrs ==0">{{medications.count.not_otrs}} inactive kit/s</div>
                </div>
            </div>
            <div ng-repeat="kit in kits = (medications.medications | filter:filter | orderBy:'otrs':true)" class="col-lg-8 col-sm-12 row m-t-md">
                <div class="panel b-a">
                    <!-- panel header -->
                    <div class="panel-heading">
                        <div class="media">
                            <div class="col-sm-5">
                                <div ng-if='kit.kit_image != false' class="pull-left thumb-md avatar b-3x m-r" ng-if='kit.type =="meds"'>
                                    <img ng-src="images/kits/{{kit.kit_image}}.png" alt="...">
                                </div>
                                <div class="clear">
                                    <div class="h3 m-t-xs m-b-xs" ng-if="kit.type !='AED'">
                                        {{kit.kit_type}}</div>
                                    <div class="h3 m-t-xs m-b-xs" ng-if="kit.type =='AED'">
                                        AED</div>
                                    <small ng-if='kit.number' class="text-muted">Kit# {{kit.number}}</small>
                                </div>
                            </div>
                            <!-- <div class="col-sm-6">										
								<div class="clear">
									<small class="font-bold " ng-if ="kit.itemsKMCA > 0">Items in OnTraQ Refill System: {{kit.itemsKMCA}}</small>
									<br><small class="font-bold " ng-if='kit.itemsNotKMCA >0'>Items not in OnTraQ Refill System: {{kit.itemsNotKMCA}}</small>
								</div>
							</div> -->

                            <div class="col-sm-4">
                                <div ng-switch on="kit.service_type">
                                    <small ng-switch-when="po_otrs" class="text-success text-sm">Automatic Refill (PO validation)</small>
                                    <small ng-switch-when="a_otrs" class="text-success text-sm">Automatic Refill</small>
                                    <small ng-switch-default> </small>
                                </div>
                            </div>

                            <div class=" col-sm-3 text-right">
                                <!-- 	<a ng-if='kit.on_otrs'
								class="text-success font-thin m-t-sm m-b-sm"
								title="Kit is enrolled in OnTraQ Refill System"><i
								class=" icon-check icon text-lg"></i></a> <a
								ng-if='!kit.on_otrs'
								class="text-muted font-thin m-t-sm"
								title="Kit is not enrolled in OnTraQ Refill System"><i
								class=" icon-ban icon text-lg"></i></a><br>	 -->
                                <div class="clear">
                                    <a title="Items on OTRS are refilled automatically when they expire,&#10; so you never have to worry about having expired medications." class=' text-success text-md m-r-sm' ng-if="num_otrs > 0">{{kit.items_a_otrs + kit.items_po_otrs }}
										&nbsp; <i class="icon-refresh icon text-xs"></i>
									</a> <a title="Item/s not in OnTraQ Refill System" class="text-muted text-md" ng-if='kit.items_not_otrs >0'>{{kit.items_not_otrs}}
										&nbsp; <i class=" icon-ban icon text-xs"></i>
									</a>
                                </div>
                                <div class="" ng-if="kit.kititems.length > 2 || kit.kititems.length > 2 ">
                                    <a ng-click="kit.collapsed = !kit.collapsed" class="text-info">
                                        <span ng-if="kit.collapsed" class='m-r-xxs m-t-sm'>Show
											all</span> <span ng-if="!kit.collapsed" class='m-r-xxs m-t-sm'>Hide</span>
                                    </a>
                                </div>

                            </div>
                        </div>
                        <!-- /panel header -->
                        <!-- list the items in kit -->
                        <div class="panel-body" ng-class="{'kititems_collapse':kit.collapsed}">
                            <ul ng-repeat="kititem in kit.kititems" class="list-group list-group-lg no-bg auto" style="margin-bottom: 0px; border-radius: 0;">
                                <li class="list-group-item" style="margin-bottom: 0px; border-radius: 0; padding-bottom: 7px">
                                    <span> <i
									ng-if='kititem.otrs == true'
									class="fa fa-circle pull-left text-ot-xs m-t-md text-success"></i>
							</span> <span class="pull-left thumb-xxs avatar m-r m-l-sm"> <img
									ng-if="kititem.image == false"
									ng-src="/images/items/default_small.jpg" alt="..."> <img
									ng-if="kititem.image !=false"
									ng-src="/images/items/{{kititem.image}}.jpg" alt="...">
							</span> <span class="clear font-bold"> {{kititem.kit_item_name}}

									<span ng-switch	on="kititem.otrs"> <small
										ng-switch-when="true"
										class="clear text-ellipsis kititem text-{{textcolor(kititem.status,kit.service_type)}}">{{kititem.status}}
											on {{kititem.expiration_date}}</small>
										<small	ng-switch-default
										class="clear text-ellipsis kititem text-muted">{{kititem.status}}
											on {{kititem.expiration_date}}</small>	 
								</span> <small class="text-muted clear text-ellipsis">Quantity:
										{{kititem.quantity}}</small> <small class="pull-right m-t-n-xl" ng-if="kititem.otrs"> <i 
										title="Items on OTRS are refilled automatically when they expire,&#10; so you never have to worry about having expired medications."
										class='icon-refresh icon text-success text-lg'></i>
										
								</small>

                                    <small class="pull-right m-t-n-xl" ng-if="!kititem.otrs">
										<a 	class="text-muted font-thin pull-right"
										title="This item is not in OnTraQ Refill System"><i
											class=" icon-ban icon text-md "></i></a>
								</small>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="text-center  m-b-xs m-t-xs">
                            <a ng-click="kit.collapsed = !kit.collapsed" class="text-info" ng-if="kit.kititems.length > 2">
                                <span ng-if="kit.collapsed" style='padding: 2px;'>Show all
								{{kit.kititems.length}} items</span> <span class="m-t-n-sm" ng-if="!kit.collapsed">Hide</span>
                            </a>
                        </div>
                    </div>

                    <!-- / list the items in kit -->
                </div>


                <!--  / list the kits -->
            </div>
        </div>
    </div>
