<style>
.note_collapse {
    max-height: 0px;
    overflow: hidden;
}
</style>

<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="app.settings.asideFolded = false;app.settings.asideDock = false;">
    <!-- Unused Med Recovery Page -->
    <div class="wrapper-md" ng-controller="unusedmedsCrtl">

        <!-- When no data is there -->
        <div class="wrapper-md row" ng-if="!unusedmeds && message" ng-show='loaded'>There is no information to display.</div>
        <!-- LOADER -->
        <div ng-show="!loaded" class='text-center'>
            <div style='margin-top: 100px; font-size: 12px; font-weight: bold'>LOADING</div>
            <br> <i class="fa fa-spinner text-lg"></i>
            <br>
        </div>
        <!-- /LOADER -->
        <!-- When no data is there -->
        <!-- When There is data  -->
        <!-- Overall data of practice for unused meds bags. The tiles on top -->
        <div ng-show="loaded" class='col-lg-12 text-center' ng-if="unusedmeds">
            <div class="row row-sm text-center" ng-if="unusedmeds">
                <div class="col-xs-12 col-md-4 col-lg-3" ng-switch on="unusedmeds.reportdata.inhand">
                    <div class="panel padder-v item bg-info" ng-switch_when="0">
                        <div class="h1 font-thin h1">No Envelope</div>
                        <span class="text-xs">is on hand</span>
                    </div>
                    <div class="panel padder-v item bg-info" ng-switch-default>
                        <div ng-switch-default class="h1 font-thin h1">
                            {{unusedmeds.reportdata.inhand}} <span ng-if="unusedmeds.reportdata.inhand > 1">Envelopes</span> <span ng-if="unusedmeds.reportdata.inhand ==1 ">Envelope</span>
                        </div>
                        <span ng-if="unusedmeds.reportdata.inhand >1" class="text-xs">are
								on hand</span> <span ng-if="unusedmeds.reportdata.inhand ==1" class="text-xs">is on hand</span>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-3" ng-switch on='unusedmeds.reportdata.used'>
                    <div class="panel padder-v item bg-info" ng-switch-when='0'>
                        <div class="h1 font-thin h1">No Envelope</div>
                        <span class="text-xs">has been processed</span>
                    </div>
                    <div class="panel padder-v item bg-info" ng-switch-default>
                        <div class="h1 font-thin h1">
                            {{unusedmeds.reportdata.used}} <span ng-if="unusedmeds.reportdata.used > 1"> Envelopes</span> <span ng-if="unusedmeds.reportdata.used ==1"> Envelope</span>
                        </div>
                        <span ng-if="unusedmeds.reportdata.used > 1" class="text-xs">
								have been processed</span> <span ng-if="unusedmeds.reportdata.used ==1" class="text-xs">has been processed</span>
                        <br>
                    </div>
                </div>
                <div ng-if="unusedmeds.reportdata.last_activity != '' && unusedmeds.reportdata.last_status != 'None'" class="col-xs-12 col-md-4 col-lg-3">
                    <div class="panel padder-v item bg-{{bgcolor(unusedmeds.reportdata.last_activity)}}">
                        <div class="h1 font-thin h1">
                            <span>Latest Envelope</span><span class="text-xs"></span>
                        </div>
                        <span class="text-xs">was
								{{reportlaststatus(unusedmeds.reportdata.last_status)}} on
								{{unusedmeds.reportdata.last_activity}}</span>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Overall data of practice for unused meds bags. The tiles on top -->
        <!-- panel -->
        <div class="wrapper-md">
            <div class="row">
                <div class="col-lg-8 col-sm-12" ng-repeat='unusedmed in unusedmeds.unusedmeds'>
                    <div class="panel b-a">
                        <div class="panel-heading b-b b-light pos-rlt ">
                            <div class="media">
                                <span class="pull-left thumb-lg"><img
										ng-src="/images/img/HF_ERS_Envelope_thumb.jpg" alt="..."></span>
                                <div class="media-body">
                                    <div ng-if="unusedmed.processed_date !=null" class="pull-right text-center badge bg-{{bgcolor(unusedmed.status)}}">
                                        {{bagStatus(unusedmed.status)}}</div>
                                    <div ng-if="unusedmed.status ==1" class="pull-right text-center badge bg-info">In office</div>
                                    <span href class="h4">Envelope # <b>{{unusedmed.serial_number}}</b></span>
                                    <small class="block" ng-if="unusedmed.sent_date !=null">Sent
											from Practice: {{unusedmed.sent_date}}</small> <small class="block" ng-if="unusedmed.processed_date !=null">Received for
											Destruction: {{unusedmed.processed_date}}</small> <small class="block text-info" ng-if="unusedmed.processed_date !=null"> <a
											target="_blank"
											href='/environmental/processingcertificate/type/unusedmed/token/{{unusedmed.id}}'
											class="text-info text-md">Download Certificate</a>
										</small>
                                    <div ng-if='unusedmed.status == 7 || unusedmed.status ==5'>
                                        <small> <a ng-click="notes.hidden = !notes.hidden"
												class='m-b-md'> <span ng-if="!notes.hidden"
													class='m-r-xs m-t-sm  text-info'>Show Note</span> <span
													ng-if="notes.hidden" class='m-r-xs m-t-sm text-info'>Hide
														Note</span>
											</a>
											</small>
                                        <div id='notes' class='' ng-if="notes.hidden">{{unusedmed.notes}}</div>
                                    </div>
                                </div>
                            </div>
                            <!-- list of medications -->
                            <ul class="list-group list-group-lg no-bg auto m-t-md">
                                <li class="list-group-item" ng-repeat='item in unusedmed.items'>
                                    <i ng-if="item.rejected ==0" class="fa fa-circle text-ot-xs text-success"></i> <i ng-if="item.rejected ==1" class="fa fa-circle text-ot-xs text-danger"></i> <span class="clear font-bold m-l-md m-t-n-md"> <span
											class="col-xs-3">{{item.name}} </span> <span class="text-muted text-xs col-xs-3">{{item.category}}</span>
                                    <span class="text-muted text-xs  col-xs-3">Qty
												{{item.quantity}}</span> <span ng-if="item.rejected ==0" class="text-success  col-xs-3 text-right">Processed</span> <span ng-if="item.rejected ==1" class="text-danger col-xs-3 text-right">Rejected</span>
                                    </span>
                                </li>
                            </ul>
                            <!-- /list of medications -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- /panel -->
        </div>
        <!-- /When there is data -->
    </div>
</div>
