<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
app.settings.asideFolded = false; 
app.settings.asideDock = false;
">
    <!-- main -->
    <!-- main header -->
    <div header text="Dashboard" icon="glyphicon glyphicon-stats icon text-info-dker"></div>
    <!-- / main header -->

    <div class="wrapper-md" ng-controller="dashboardCtrl">

        <!-- top alert message -->
        <div class="panel panel-default">
            <div class="panel-body">
                ALERT IN YOUR ORGANIZATION
            </div>
        </div>
        <!--/ top alert message -->

        <!-- <div ng-repeat="practice in practices">
      {{practice.Name}}
    </div> -->

        <!-- first row -->
        <div class='row'>
            <div class='col-md-12'>
                <div class="row row-sm text-center">
                    <div class="col-xs-3">
                        <div class="panel padder-v item bg-danger">
                            <div class="h1 text-white font-thin h1">1 alert</div>
                            <span class="text-muted text-xs">in your organization</span>
                        </div>
                    </div>

                    <div class="col-xs-3">
                        <div class="panel padder-v item bg-info">
                            <div class="h1 text-white font-thin h1">102</div>
                            <span class="text-muted text-xs">Practices</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!--/ first row -->
    <!-- / main -->
</div>
