<style>
.footable > thead > tr > th > span.footable-sort-indicator:before {
    content: " ";
}
</style>
<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="app.settings.asideFolded = false; app.settings.asideDock = false;">
    <!-- main -->
    <!-- main header -->
    <div ng-controller="dashboardCtrl">
        <div header text='Practices' icon="fa fa-building icon text-info-dker"></div>
        <div ng-show="!loaded" class='text-center'>
            <div style='margin-top: 100px; font-size: 12px; font-weight: bold'>LOADING</div>
            <br> <i class="fa fa-spinner text-lg"></i>
            <br>
        </div>
        <!-- / main header -->
        <!-- get data from Controller  -->
        <!-- Responsive table -->
        <div ng-show="loaded" class="wrapper-md">
            <div ng-show='false' statefilter num="practices.length"></div>
            <div class="panel panel-default">
                <div class="panel-heading">{{numberofpractices}} practices</div>
                <div class="panel-body b-b">
                    Search:
                    <input id="filter" type="text" class="form-control input-sm w-sm inline m-r" />
                </div>
                <div>
                    <div ng-if="practices">
                        <table class="table m-b-none footable" ui-jq="footable" data-page-size="30" data-filter="#filter">
                            <thead>
                                <tr>
                                    <th>Customer #</th>
                                    <th>Name</th>
                                    <th>Doctor Name</th>
                                    <th>Street</th>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>Zip</th>
                                    <th width='130px'>Phone</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="practice in practices">
                                    <td>
                                        <a ui-sref="app.practice({id:'{{practice.customernumber}}'})" class="text-info">{{practice.customernumber}}</a>
                                    </td>
                                    <td>
                                        <a ui-sref="app.practice({id:'{{practice.customernumber}}'})" class="text-info">{{practice.name}}</a>
                                    </td>

                                    <td>{{practice.doctor_name}}</td>
                                    <!-- ng-click="practiceInfo()" -->
                                    <td>{{practice.street}}</td>
                                    <td>{{practice.city}}</td>
                                    <td>{{practice.state}}</td>
                                    <td>{{practice.zip}}</td>
                                    <td>{{practice.phone | phonenumber}}</td>

                                </tr>
                            </tbody>
                            <tfoot class="hide-if-no-paging">
                                <tr>
                                    <td colspan="5" class="text-center">
                                        <ul class="pagination"></ul>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
