<!-- main header -->
<div class="bg-light lter b-b wrapper-md">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="m-n font-thin h3 text-black">
				<i ng-if="icon != 'null'" class={{icon}}></i>
				<i ng-if="icon == 'null'"><img style="width:22px; height:22px; margin-top:-4px;" src='images/icons/infectioncontrol.svg'/></i>
				&nbsp;{{text}}
			</h1>
        </div>
        <div class="col-sm-6 pull-right">
            <div statefilter num="practices.length"></div>
        </div>
    </div>
</div>
<!-- / main header -->
