<!-- <form class="bs-example form-horizontal ng-pristine ng-valid">
	<div class="form-group" style='margin:0'>
		<div class="col-sm-10 pull-right">
			<div ui-module="select2">
				<select multiple ui-select2="opt" ng-model="search.states" data-placeholder="States" class="form-control">
					<option value=""></option>
					<option ng-repeat="state in me.corporate_states" value="{{state[1]}}">
						{{state[0]}}
					</option>
				</select>
			</div>
		</div>
		<label class="col-lg-2 control-label pull-right">States:</label>
	</div>
</form> -->